.item-count-container {
    text-align: center;
    gap: 2px;
}

.position {
  display: flex;
  justify-content: center;
}

.count-button,
.add-to-cart-button {
    padding: 5px; 
    border: 1px solid #000; 
    border-radius: 5px; 
    cursor: pointer;
    background-color: #fff;
    margin: 2px;
}

.count-button:hover,
.add-to-cart-button:hover {
    background-color: #f0f0f0; 
}
